  body {
        margin: 0;
        padding: 0;
        background-color: #9781a1; 
        background-image: url(images/wallpaper18.jpeg);
        background-size: contain;
        color: rgb(39, 37, 37);
        font-family: Arial, sans-serif;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; 
}
.footer-content {
        margin: 5px 0;
}
.footer-content strong {
        color: #171818; 
        font-family: Arial, Helvetica, sans-serif;
}
.footer-links {
        margin: 5px 0;
}
.footer-links a {
        color: #1abc9c; 
        text-decoration: none;
        margin: 0 5px;
}
.footer-links a:hover {
        text-decoration: underline;
}