body {
     font-family: Arial, sans-serif;
     line-height: 1.6;
     margin: 0;
     padding: 0;
     background-image: url(images/wallpaper1.jpeg);
     color: #312f33;
}
header {
     text-align: center;
     font-size: 25px;
     font-family: 'Times New Roman', Times, serif;
     padding: 1rem;
     background-image: url(images/wallpaper6.jpg);
     background-size: contain;
     background-position: center center;
     height: 20vh;
     width: 100vw;
     color: rgb(45, 44, 46);
}
.navbar {
     display: flex;
     justify-content: center;
     background-image:url(images/wallpaper7.png);
     background-size: contain;
     padding: 0.5rem;
}
.navbar a {
     color: rgb(45, 44, 46);
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-decoration: none;
     padding: 0.5rem 1rem;
     margin: 0 0.5rem;
}
.navbar a:hover, .navbar a.active {
     background: #664d64;
     background-image: url(images/wallpaper12.jpeg);
     background-size: contain;
     color: beige;
     border-radius: 35px;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
}
table.experience-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fdf3f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
table.experience-table th,
table.experience-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}
table.experience-table th {
    background-color: #664d64;
    color: white;
    font-size: 1.2rem;
}
table.experience-table td {
    font-size: 1rem;
    color: #444;
}
table.experience-table tr:hover {
    background-color: #fde8e5;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}
.skill-card {
    background: #daabcf;
    color: #444;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
h2{
    color: #664d64;
}
h3{
    color: #664d64;
} 
p{
    font-family: 'Times New Roman', Times, serif;
}
img {
    border-radius: 10px; 
}
video{
    width: 15%; 
    border-radius: 15px; 
    margin-bottom: 10px;
}